@page
@model Staffmeer.Server.Pages.Reports.EmployeeNomenclatures.EmployeeNomenclaturesModel
@{
    var title = "Номертклатура, закреплённная за сотрудником";
    ViewData["Title"] = title;
}

<h3><span class="mdi mdi-desktop-classic"></span> Номенклатура</h3>
<div class="d-flex">
    <h5>Сотрудник: @Html.Raw($"{Model.Employee.FullName} ({(Model.Employee.Department.Name)})")</h5>
    <div class="ms-auto">
        <a class="btn btn-outline-primary" role="button" href="/Counterparties/Create">
            <span class="mdi mdi-printer"></span> Печать
        </a>
    </div>
</div>
<hr />
<ul class="list-group">
@foreach (var item in Model.Nomenclatures)
{
    <li class="list-group-item">
        <span class="mdi mdi-desktop-classic"></span> <a class="smr-link" asp-page="./Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
        <small class="text-muted mt-1">№@Html.DisplayFor(modelItem => item.SerialNumber)</small>
        <br />
        <small class="text-muted mt-1">@Html.DisplayFor(modelItem => item.Brandname.Name)</small>
        <br />
        <small class="text-muted mt-1">@Html.DisplayFor(modelItem => item.NomenclatureType.Name)</small>
    </li>
}
</ul>
@if (Model.Nomenclatures?.Length == 0)
{
    <h4 class="text-muted">Ничего не найдено</h4>
}