@page
@model Staffmeer.Server.Pages.Reports.DeviceParts.DevicePartsModel
@{
	var title = "Комплектующие устройства (номенклатуры)";
	ViewData["Title"] = title;
}

<h3><span class="mdi mdi-desktop-classic"></span> Комплектующие устройства (номенклатуры)</h3>
<h5>Номенклатура: @Html.DisplayFor(model => model.Nomenclature.FullName)</h5>
<hr />
<a class="btn btn-outline-primary" role="button" href="/Counterparties/Create">
    <span class="mdi mdi-printer"></span> Печать
</a>
<ul class="list-group">
@foreach (var item in Model.Nomenclatures)
{
    <li class="list-group-item">
            <span class="mdi mdi-desktop-classic"></span> <a class="smr-link" asp-page="/Nomenclatures/Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
        <small class="text-muted mt-1">№@Html.DisplayFor(modelItem => item.SerialNumber)</small>
        <br />
        <small class="text-muted mt-1">@Html.DisplayFor(modelItem => item.Brandname.Name)</small>
        <br />
        <small class="text-muted mt-1">@Html.DisplayFor(modelItem => item.NomenclatureType.Name)</small>
    </li>
}
</ul>
@if (Model.Nomenclatures?.Length == 0)
{
    <h4 class="text-muted">Ничего не найдено</h4>
}