@page
@model Staffmeer.Server.Pages.Nomenclatures.DeleteModel

@{
    ViewData["Title"] = Model.Nomenclature.Name;
}

<h1>
    <a class="smr-link return-nav-link" asp-page="./Edit" asp-route-id="@Model.Nomenclature.Id"><span class="mdi mdi-arrow-left"></span></a>
    Удаление
</h1>

<h3>Уверены, что хотите удалить запись?</h3>
<div>
    <h4>Данные</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nomenclature.SerialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nomenclature.SerialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nomenclature.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nomenclature.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nomenclature.Brandname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nomenclature.Brandname.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nomenclature.Counterparty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nomenclature.Counterparty.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nomenclature.NomenclatureType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nomenclature.NomenclatureType.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Nomenclature.Id" />
        <button type="submit" class="btn btn-outline-danger">
            <span class="mdi mdi-delete"></span>
            Подтвердить удаление
        </button>
        <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@Model.Nomenclature.Id">
            <span class="mdi mdi-window-close"></span>
            Отмена
        </a>
    </form>
</div>
