@page
@model Staffmeer.Server.Pages.Counterparties.DetailsModel

@{
    ViewData["Title"] = "Контрагент";
}

@await Html.PartialAsync("_ViewNavHeader", new ViewNavHeaderModel("Контрагент", "Index"))

<div>
    <h4>Данные</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Counterparty.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Counterparty.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Counterparty.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Counterparty.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Counterparty.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Counterparty.Address)
        </dd>
    </dl>
</div>
<div>
    @await Html.PartialAsync("_FormLinkToEdit", Model.Counterparty.Id)
</div>
