@page
@model Staffmeer.Server.Pages.Counterparties.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Counterparty</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Counterparty.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Counterparty.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Counterparty.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Counterparty.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Counterparty.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Counterparty.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Counterparty.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
