@page
@using Staffmeer.Server.Pages.Shared
@model Staffmeer.Server.Pages.Employees.DeleteModel

@{
    ViewData["Title"] = Model.Employee.FullName;
}

@await Html.PartialAsync("_ViewNavHeader", new ViewNavHeaderModel("Удаление", "./Edit", @Model.Employee.Id))

<h3>Уверены, что хотите удалить запись?</h3>
<div>
    <h4>Данные</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Patronymic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Patronymic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Department.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Employee.Id" />
        <button type="submit" class="btn btn-outline-danger">
            <span class="mdi mdi-delete"></span>
            Подтвердить удаление
        </button>
        <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@Model.Employee.Id">
            <span class="mdi mdi-window-close"></span>
            Отмена
        </a>
    </form>
</div>
