@page
@using Staffmeer.Server.Pages.Shared
@model Staffmeer.Server.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = Model.Employee.FullName;
}

@await Html.PartialAsync("_ViewNavHeader", new ViewNavHeaderModel("Сотрудник", "./Index"))

<div>
    <h4>Данные</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Patronymic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Patronymic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Department.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" role="button" asp-page="./Edit" asp-route-id="@Model.Employee.Id"><span class="mdi mdi-pencil"></span> Редактировать</a>
</div>
