@page
@model Staffmeer.Server.Pages.ProvisionRecords.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

@await Html.PartialAsync("_ViewNavHeader", new ViewNavHeaderModel("Удаление", "./Edit", @Model.ProvisionRecord.Id))

<h3>Уверены, что хотите удалить запись?</h3>
<div>
    <h4>Данные</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProvisionRecord.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProvisionRecord.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProvisionRecord.Date)
        </dt>
        <dd class="col-sm-10">
            @Model.ProvisionRecord.Date.ToString("dd.MM.yyyy HH:mm")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProvisionRecord.ProvisionRecordType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProvisionRecord.ProvisionRecordType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProvisionRecord.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProvisionRecord.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProvisionRecord.Counterparty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProvisionRecord.Counterparty.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProvisionRecord.Employee1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProvisionRecord.Employee1.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProvisionRecord.Employee2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProvisionRecord.Employee2.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProvisionRecord.Nomenclature1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProvisionRecord.Nomenclature1.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProvisionRecord.Nomenclature2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProvisionRecord.Nomenclature2.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProvisionRecord.Id" />
        <button type="submit" class="btn btn-outline-danger">
            <span class="mdi mdi-delete"></span>
            Подтвердить удаление
        </button>
        <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@Model.ProvisionRecord.Id">
            <span class="mdi mdi-window-close"></span>
            Отмена
        </a>
    </form>
</div>
