@page
@using Staffmeer.Server.Pages.Shared
@model Staffmeer.Server.Pages.ProvisionRecords.IndexModel

@{
    string title = "События";
    ViewData["Title"] = title;
}

@await Html.PartialAsync("IndexHeader", new IndexHeaderModel { HeaderTitle = title })

<table class="table">
    <thead>
        <tr>
            <th>
                Дата
            </th>
            <th>
                Тип
            </th>
            <th>
                Описание
            </th>
            <th>
                Контрагент
            </th>
            <th>
                Передал
            </th>
            <th>
                Получил
            </th>
            <th>
                Номенклатура
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProvisionRecord) {
        <tr>
            <td>
                @item.Date.ToString("dd.MM.yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvisionRecordType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Counterparty.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee1.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee2.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nomenclature1.FullName)
            </td>
            <td>
                <a class="smr-link text-color-main" asp-page="./Details" asp-route-id="@item.Id">Детали</a>
            </td>
        </tr>
}
    </tbody>
</table>
