@page
@using Staffmeer.Server.Pages.Shared
@model Staffmeer.Server.Pages.Brandnames.IndexModel

@{
    string title = "Бренд";
    ViewData["Title"] = title;
}

@await Html.PartialAsync("IndexHeader", new IndexHeaderModel { HeaderTitle = title })

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brandname[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Brandname) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
